.container {
  width: 100%;
  max-width: 1200px;
  border: 1px solid red;
  margin: 0 auto;
  height: 100vh; }

.parent {
  height: 30vh;
  border: 1px solid green;
  padding: 20px; }
  .parent__children {
    width: 100px;
    height: 100px;
    border: 1px solid blue; }
    @media (min-width: 481px) and (max-width: 768px) {
      .parent__children {
        border-radius: 20px; } }
    .parent__children--last {
      border-color: black;
      background-color: yellowgreen; }
      @media (min-width: 300px) and (max-width: 480px) {
        .parent__children--last {
          background-color: #04647d; } }
