$royal_blue_700: #0d41e1;
$royal_blue_500: #3561e6;
$sky_blue_900: #04647d;
$sky_blue_100: #cdf4fe;
$sky_blue_200: #e0f7ff;
$sky_blue_50: #e2f9ff;
$black: #000000;
$grey_0: #f0f0f0;
$grey_50: #e9edfa;
$grey_100: #e9eeff;
$grey_200: #ececec;
$grey_1200: #111111;
$pink_500: #ffe8e1;
$pink_400: #ffeed6;
$green_200: #f4ffe7;
$container-full: 100%;

.container {
  width: $container-full;
  max-width: 1200px;
  border: 1px solid red;
  margin: 0 auto;
  height: 100vh;
}

.parent {
  height: 30vh;
  border: 1px solid green;
  padding: 20px;

  &__children {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    @include for-tablet-portrait-up {
      border-radius: 20px;
    }

    &--last {
      border-color: black;
      background-color: yellowgreen;
      @include for-phone-only {
        background-color: #04647d;
      }
    }
  }
}
